.filter-buttons{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 5rem;
    margin-top: 5rem;
}
.filter-buttons button{
    margin: .6rem;
    padding: .6rem 1.5rem;
    border-radius: 40rem;
    border: none;
    background-color: rgb(200, 229, 255);
    transition: 0.3s ease-in-out;
}
.filter-buttons button:hover{
    background-color: blue;
    color: #fff;
}
.filter-buttons button:focus{
    background-color: blue;
    color: #fff;
}
.filter-map-button{
    display: flex;
}


.view-all-btn button{
    background: none;
    border: 2px solid #0000ff;
    color: blue;
}
.image img{
    margin-top: .4rem;
    width: 24rem;
    border-radius: 10px;
    height: 15rem;

}
.main-card-contant{
    margin-left: 2rem;
}
.second-section{
    margin: 1rem 2rem;
    width: 25rem;
}

hr{
    border: .2px solid rgb(233, 233, 233);
    margin-top: 1rem;
    width: 23rem;
}

.card-main{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.image-icons button{
    width: 5rem;
    height: 2rem;
    position: absolute; 
    border-radius: 10rem;
    background-color: rgb(221, 239, 255);
    border: none;
    
}
.image-icons{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: .5rem;
    bottom: 14.5rem; 
}
.card-main-heading {
    display: flex;
    flex-direction: column;
}
.filter-map-button button{

}
.card-main-heading img{
    width: 1.5rem;
}
.card-main-heading h3{
    margin-top: .3rem;
    width: 100%;
    font-weight: 700;
    font-size: 1.1rem;
}
.card-location{
    display: flex;
}
.card-main-details{
    /* margin: 0rem 1rem; */
    padding: 1rem;
}
.card-room-fecility-icons{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    text-align: center;
}
.card-room-fecility-icons img{
    width: 1.3rem;
}
.card-room-fecility-icons p{
    font-size: .8rem;
    text-align: center;
}
.Rate-Tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price-month{
    display: flex;
}
.Rate-Tag button{
    margin: 1rem 0;
    padding: .6rem 1.5rem;
    border-radius: 40rem;
    border: none;
    background: none;
    border: 2px solid #0000ff;
    color: blue;
}
.price-month h3 span{
    font-weight: 400;
}
.showmore-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.showmore-button button{
    background: #0000ff;
    color: #fff;
    font-weight: 600;
    padding: .6rem 1.5rem;
    border-radius: 40rem;
    border: none;
    margin-bottom: 2rem;
    transition: 0.5s;
}
.showmore-button button:hover{
    background: white;
    border: 1px solid blue;
    color: black;
}